<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'VentaFacil' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-css/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap-css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-css/lista.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/productos.css">
    <!--STYLES END-->
  </head>

  <body>
<!--
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="/"><div font-family: 'Exo', sans-serif;><span style="color:#0b4036  ">Venta</span><img src="https://userscontent2.emaze.com/images/40322bd7-bf8a-4531-9776-e7b24ec05fe6/0c4dee51-403f-4a0a-bc19-961c87dfb8a1.png" width="36" height="28" alt="logo"/> Facil</div></a>
      </div>
    </div>-->


    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>

         <% if(session.authenticated){ %>
           
         <a class="navbar-brand" href="/"><div font-family: 'Exo', sans-serif;><span style="color:#0b4036  ">Venta</span><img src="https://userscontent2.emaze.com/images/40322bd7-bf8a-4531-9776-e7b24ec05fe6/0c4dee51-403f-4a0a-bc19-961c87dfb8a1.png" width="36" height="28" alt="logo"/> Facil</div></a>
          <% } else{%> 
         <a class="navbar-brand" href="/"><div font-family: 'Exo', sans-serif;><span style="color:#0b4036  ">Venta</span><img src="https://userscontent2.emaze.com/images/40322bd7-bf8a-4531-9776-e7b24ec05fe6/0c4dee51-403f-4a0a-bc19-961c87dfb8a1.png" width="36" height="28" alt="logo"/> Facil</div></a>

          <% } %> 



        <div class="navbar-header"> 
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% if(session.authenticated){ %>
              <li ><a href="/user/show/<%= session.User.id %>">Perfil  <%= session.User.nombre %> </a></li>
              <li><a href="/compra/supermercados">Compras</a></li>
              <li><a href="#">Ofertas</a></li>
              <li><a href="#">Locales abiertos</a></li>
              <li><a href="#">Tutorial de Compra</a></li>

            <% } %> 
            <% if(session.authenticated && session.User.admin){ %>
              <li><a href="/user">Administracion usuarios</a></li>
             


            <% } %>          
          </ul>
          <div class="navbar-right">
            <% if (session.authenticated) {%>
              <a class="btn btn-default navbar-btn navbar-right" href="/session/destroy">salir</a>
            <% } %>
          </div>
          <%if (!session.authenticated) {%>
            <form class="navbar-form navbar-right" action="/session/create">
            <div class="form-group">
              <input type="text" placeholder="Email" name="email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" name="pasword" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Ingresar</button>
            <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
            </form>
          <% } %>
        </div>
      </div>

    </div>











    <br></br>
    <%- body %>

    <div class="container">
    <hr>
    <footer class="footer">
      <div class="pull-right">
        <a href="http://ventafacil.hol.es/boot/index.html">vista</a>
        <div>perritos</div>
      </div>
      </footer>
    </div>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-3.2.1.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/bootstrap/bootstrap.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/carro.js"></script>
    <script src="/js/customValidate.js"></script>
    <script src="/js/supermercados.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
