<div class="container">
	<h3>Users</h3>
	<div class="row">
	<table class='table table-responsive col-sm-4'>
	<tr>
		<th>ID</th>
		<th>nombre</th>
		<th>apellido</th>
		<th>Email</th>
		<th></th>
		<th></th>
	</th>


	<% _.each(users, function(user) { %>
	<tr data-id="<% user.id %>" data.model="user">
		<td><%= user.id %></td>
		<td><%= user.nombre %></td>
		<td><%= user.apellido %></td>
		<td><%= user.email %></td>

		<% if(user.admin){ %>
			<!--<td><img src="/images/admin.png"></td>-->
		<% } else { %>
			<!--<td><img src="/images/pawn.png"></td>-->
		<% } %>





		<td><a href="/user/show/<%= user.id%>" class="btn btn-sm btn-primary">mostrar</a></td>
		<td><a href="/user/edit/<%= user.id%>" class="btn btn-sm btn-warning">editar</a></td>
		<td><form action="/user/destroy/<%= user.id %>" method="POST">
			<input type="hidden" name="_method" value="delete"/>
			<input type="submit" class="btn btn-sm btn-danger" value="borrar"/>
			<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
		</form></td>

		
	</tr>
	<% }) %>
	</table>
	</div>
</div>